div.globalControl {
	position: fixed;
	bottom: 20px;
	left: 0;

	width: calc(100vw - 30px);
	height:40px;

	margin-left: 15px;
	margin-right: 15px;
}
div.globalControl ul {
	text-align:center;
}
div.globalControl ul li {
	display: inline;
}