
/* Preloader Style */
div.loader{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	z-index: 1000000000000;
}

/* Blurred background */
div.blurbg{
	position: fixed;
	top:0;
	left:0;

	height:100%;
	width:100%;

	backdrop-filter: blur(3px);

	z-index: 10;
}

/* other stuff */
div.loader div.container {
	text-align: center;
	margin: 0;

	height: 120px;
	width: 70vw;

	position: absolute;
	top: calc(50% - 120px/2);
	left: calc(50% - 70vw/2);

	vertical-align:middle;
}
div.loader div.progress{
	margin: auto;
	width: 60vw;
	height: 4px;

	position: fixed;
	top: calc(50% - 2px);
	left: calc(50% - 30vw);
}

div.loader span[type=title] {
	font-size: 28pt;
}
div.loader span[type=description] {
	font-size: 24pt;
}